pytorch-lightning==1.6.5
wandb==0.13.3
pydantic==1.10.2
biopython==1.79
pandas==1.4.4
natsort==8.2.0
triton==1.0.0
Jinja2==3.1.2
git+https://github.com/maxzvyagin/transformers
h5py==3.7.0
lightning-transformers==0.2.1
